$header_width: 200px;
$header_side_margin: 40px;
$header_outer_width: $header_width;

$text_width: 500px;
$text_side_margin: $header_side_margin;
$text_outer_width: $text_width + $text_side_margin * 2;

$body_width: $text_outer_width + $header_outer_width;


@keyframes horizontalSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes verticalSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}