@import "common";

//=========================
// Desktop full size
//=========================

p { animation: .5s ease-out 0s 1 horizontalSlide; }

//=========================
// Medium size
//=========================

@media screen and (max-width: $text_outer_width) {
  p {
    width: auto;
    font-size: 1.2em;
    line-height: normal;
  }
}

//=========================
// Mobile
//=========================

@media screen and (max-width: $body_width) {
  p {
    text-align: center;
    animation: .5s ease-out 0s 1 verticalSlide;
  }

  header {
    width: 100%;
  }
}