@import "common";


p {
  text-align: left;
  padding: $text_side_margin;
  width: $text_width;
  min-width: $header_width;
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 2;
  overflow: hidden;
  margin: 0;
}