$header_width: 200px;
$header_side_margin: 40px;
$header_outer_width: $header_width + $header_side_margin * 2;

$text_width: 500px;
$text_side_margin: $header_side_margin;
$text_outer_width: $text_width + $text_side_margin * 2;