@import "common";
@import "header";
@import "text";

html {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

#wrapper {
  margin: 40px auto;
  max-width: $body_width;
  overflow-x: hidden;
  position: relative;

  & > * {
    display: inline-block;
  }
}

@import "responsive";