@keyframes horizontalSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes verticalSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 3, ../sass/_header.scss */
header {
  vertical-align: middle;
  background: white;
  z-index: 200;
  position: relative;
  box-sizing: border-box;
}
/* line 11, ../sass/_header.scss */
header .wrapper {
  width: 200px;
  border: 2px solid #888;
  border-left: none;
  border-right: none;
  margin: auto;
}

/* line 20, ../sass/_header.scss */
h1 {
  font-size: 2.43em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin: 0;
}
/* line 27, ../sass/_header.scss */
h1 strong {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 33, ../sass/_header.scss */
blockquote {
  color: #777;
  position: relative;
  padding: 0 30px;
  width: 200px;
  box-sizing: border-box;
  margin: 16px 0;
  text-align: center;
}
/* line 52, ../sass/_header.scss */
blockquote::before {
  font-family: Georgia, serif;
  font-size: 49px;
  font-weight: bold;
  color: #999;
  position: absolute;
  top: -3px;
  content: "\201C";
  left: 3px;
}
/* line 58, ../sass/_header.scss */
blockquote::after {
  font-family: Georgia, serif;
  font-size: 49px;
  font-weight: bold;
  color: #999;
  position: absolute;
  top: -3px;
  content: "\201D";
  right: 3px;
}

/* line 4, ../sass/_text.scss */
p {
  text-align: left;
  padding: 40px;
  width: 500px;
  min-width: 200px;
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 2;
  overflow: hidden;
  margin: 0;
}

/* line 5, ../sass/main.scss */
html {
  position: relative;
  overflow: hidden;
}

/* line 10, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 40px auto;
  max-width: 780px;
  overflow: hidden;
  position: relative;
}
/* line 18, ../sass/main.scss */
body > * {
  display: inline-block;
}

/* line 7, ../sass/_responsive.scss */
p {
  animation: .5s ease-out 0s 1 horizontalSlide;
}

@media screen and (max-width: 580px) {
  /* line 14, ../sass/_responsive.scss */
  p {
    width: auto;
    font-size: 1.2em;
    line-height: normal;
  }
}
@media screen and (max-width: 780px) {
  /* line 26, ../sass/_responsive.scss */
  p {
    text-align: center;
    animation: .5s ease-out 0s 1 verticalSlide;
  }

  /* line 31, ../sass/_responsive.scss */
  header {
    width: 100%;
  }
}
