/* line 4, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* line 8, ../sass/main.scss */
body > * {
  display: inline-block;
}

/* line 13, ../sass/main.scss */
header {
  border: 2px solid #888;
  border-left: none;
  border-right: none;
  width: 200px;
  margin: 40px 40px;
  padding-top: 10px;
  vertical-align: middle;
}

/* line 23, ../sass/main.scss */
h1 {
  font-size: 2.43em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

/* line 31, ../sass/main.scss */
h1 strong {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 36, ../sass/main.scss */
blockquote {
  color: #777;
  position: relative;
  padding: 0 30px;
  width: 200px;
  box-sizing: border-box;
  margin: 16px 0;
  text-align: center;
}

/* line 55, ../sass/main.scss */
blockquote::before {
  font-family: Georgia, serif;
  font-size: 49px;
  font-weight: bold;
  color: #999;
  position: absolute;
  top: -3px;
  content: "\201C";
  left: 3px;
}

/* line 61, ../sass/main.scss */
blockquote::after {
  font-family: Georgia, serif;
  font-size: 49px;
  font-weight: bold;
  color: #999;
  position: absolute;
  top: -3px;
  content: "\201D";
  right: 3px;
}

/* line 67, ../sass/main.scss */
p {
  text-align: left;
  margin: 30px 20px;
  width: 500px;
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 2;
}

@media screen and (max-width: 540px) {
  /* line 77, ../sass/main.scss */
  p {
    width: auto;
    font-size: 1.2em;
    line-height: normal;
    text-align: center;
  }
}
